In [1]:
import numpy as np
import pandas as pd

In [2]:
#Import dataset (processed)
landsat_7 = pd.read_csv('/kaggle/input/mekong-delta-data/landsat7_df.csv')
landsat_8 = pd.read_csv('/kaggle/input/mekong-delta-data/landsat8_df.csv')
merged_data = pd.read_csv('/kaggle/input/mekong-delta-data/merged_data.csv')
salinity = pd.read_csv('/kaggle/input/mekong-delta-data/salinity_df.csv')
station = pd.read_csv('/kaggle/input/mekong-delta-data/station_with_id.csv')

In [3]:
landsat_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 36 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AWEInsh    134 non-null    float64
 1   AWEIsh     134 non-null    float64
 2   MNDWI      134 non-null    float64
 3   NDWI       134 non-null    float64
 4   SR_B1      134 non-null    float64
 5   SR_B2      134 non-null    float64
 6   SR_B3      134 non-null    float64
 7   SR_B4      134 non-null    float64
 8   SR_B5      134 non-null    float64
 9   SR_B7      134 non-null    float64
 10  ST_B6      134 non-null    float64
 11  WI1        134 non-null    float64
 12  WI2        134 non-null    float64
 13  date       134 non-null    object
 14  pivot      134 non-null    int64
 15  reducer    134 non-null    object
 16  source     134 non-null    object
 17  Station    134 non-null    object
 18  Latitude   134 non-null    float64
 19  Longitude  134 non-null    float64
 20  1          134 non-null    float64
 21  3          134 non-null    float64
 22  5          134 non-null    float64
 23  7          134 non-null    float64
 24  9          134 non-null    float64
 25  11         134 non-null    float64
 26  13         134 non-null    float64
 27  15         134 non-null    float64
 28  17         134 non-null    float64
 29  19         134 non-null    float64
 30  21         134 non-null    float64
 31  23         134 non-null    float64
 32  min        134 non-null    float64
 33  max        134 non-null    float64
 34  mean       134 non-null    float64
 35  median     134 non-null    float64
dtypes: float64(31), int64(1), object(4)
memory usage: 37.8+ KB

In [4]:
landsat_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 37 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AWEInsh    380 non-null    float64
 1   AWEIsh     380 non-null    float64
 2   MNDWI      380 non-null    float64
 3   NDWI       380 non-null    float64
 4   SR_B1      380 non-null    float64
 5   SR_B2      380 non-null    float64
 6   SR_B3      380 non-null    float64
 7   SR_B4      380 non-null    float64
 8   SR_B5      380 non-null    float64
 9   SR_B6      380 non-null    float64
 10  SR_B7      380 non-null    float64
 11  ST_B10     380 non-null    float64
 12  WI1        380 non-null    float64
 13  WI2        380 non-null    float64
 14  date       380 non-null    object
 15  pivot      380 non-null    int64
 16  reducer    380 non-null    object
 17  source     380 non-null    object
 18  Station    380 non-null    object
 19  Latitude   380 non-null    float64
 20  Longitude  380 non-null    float64
 21  1          380 non-null    float64
 22  3          380 non-null    float64
 23  5          380 non-null    float64
 24  7          380 non-null    float64
 25  9          380 non-null    float64
 26  11         380 non-null    float64
 27  13         380 non-null    float64
 28  15         380 non-null    float64
 29  17         380 non-null    float64
 30  19         380 non-null    float64
 31  21         380 non-null    float64
 32  23         380 non-null    float64
 33  min        380 non-null    float64
 34  max        380 non-null    float64
 35  mean       380 non-null    float64
 36  median     380 non-null    float64
dtypes: float64(32), int64(1), object(4)
memory usage: 110.0+ KB

In [5]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 38 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AWEInsh    516 non-null    float64
 1   AWEIsh     516 non-null    float64
 2   MNDWI      516 non-null    float64
 3   NDWI       516 non-null    float64
 4   SR_B1      516 non-null    float64
 5   SR_B2      516 non-null    float64
 6   SR_B3      516 non-null    float64
 7   SR_B4      516 non-null    float64
 8   SR_B5      516 non-null    float64
 9   SR_B7      516 non-null    float64
 10  ST_B6      136 non-null    float64
 11  WI1        516 non-null    float64
 12  WI2        516 non-null    float64
 13  date       516 non-null    object
 14  pivot      516 non-null    int64
 15  reducer    516 non-null    object
 16  source     516 non-null    object
 17  SR_B6      380 non-null    float64
 18  ST_B10     380 non-null    float64
 19  Station    516 non-null    object
 20  Latitude   516 non-null    float64
 21  Longitude  516 non-null    float64
 22  1          516 non-null    float64
 23  3          516 non-null    float64
 24  5          516 non-null    float64
 25  7          516 non-null    float64
 26  9          516 non-null    float64
 27  11         516 non-null    float64
 28  13         516 non-null    float64
 29  15         516 non-null    float64
 30  17         516 non-null    float64
 31  19         516 non-null    float64
 32  21         516 non-null    float64
 33  23         516 non-null    float64
 34  min        516 non-null    float64
 35  max        516 non-null    float64
 36  mean       516 non-null    float64
 37  median     516 non-null    float64
dtypes: float64(33), int64(1), object(4)
memory usage: 153.3+ KB

In [6]:
cols_to_drop = ['ST_B6', 'SR_B6', 'ST_B10']
merged_data = merged_data.drop(columns=cols_to_drop)

In [7]:
merged_salinity = pd.merge(salinity, station, on='Station')
merged_salinity

,Station,date,1,3,5,7,9,11,13,15,...,19,21,23,min,max,mean,median,Latitude,Longitude,id
0,An_Thuan_Ben_Tre,2014-03-01,11.7,15.5,8.2,4.8,3.2,1.1,0.8,1.8,...,6.3,4.6,2.2,0.8,15.5,6.021429,4.800000,9.980203,106.601953,1
1,An_Thuan_Ben_Tre,2014-04-01,5.8,10.6,14.2,4.9,2.4,1.2,0.6,2.3,...,9.7,7.2,2.9,0.6,14.2,5.807143,4.900000,9.980203,106.601953,1
2,An_Thuan_Ben_Tre,2014-05-01,1.9,5.8,7.2,8.1,3.5,1.7,0.5,2.6,...,10.0,6.5,3.8,0.5,10.0,4.842857,4.842857,9.980203,106.601953,1
3,An_Thuan_Ben_Tre,2014-06-01,2.3,3.2,6.1,7.9,4.2,1.9,0.4,1.7,...,7.7,5.1,3.8,0.4,7.9,3.992857,3.800000,9.980203,106.601953,1
4,An_Thuan_Ben_Tre,2014-09-01,4.2,2.5,1.9,2.2,3.4,3.9,3.5,3.0,...,4.2,9.5,10.6,1.9,10.6,4.650000,3.700000,9.980203,106.601953,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6706,Vam_Kenh_Tien_Giang,2018-06-22,4.0,1.9,0.6,3.1,6.8,8.8,8.2,7.1,...,1.4,4.8,6.0,0.6,8.8,4.650000,4.650000,10.274361,106.737150,12
6707,Vam_Kenh_Tien_Giang,2018-06-23,5.4,3.1,1.5,4.1,7.5,6.7,6.0,6.9,...,0.4,3.2,6.1,0.4,7.5,4.371429,4.371429,10.274361,106.737150,12
6708,Vam_Kenh_Tien_Giang,2018-06-24,6.6,4.7,2.0,4.1,6.2,8.0,6.5,8.1,...,3.1,0.2,4.1,0.2,8.1,4.878571,4.878571,10.274361,106.737150,12
6709,Vam_Kenh_Tien_Giang,2018-06-29,4.1,6.1,8.0,6.6,4.9,3.8,6.5,7.5,...,4.4,2.8,0.0,0.0,8.0,4.892857,4.900000,10.274361,106.737150,12
6710,Vam_Kenh_Tien_Giang,2018-06-30,3.2,6.7,7.8,7.0,6.5,3.9,6.4,7.0,...,5.0,3.0,0.0,0.0,7.8,5.071429,6.400000,10.274361,106.737150,12

In [8]:
landsat7_mean = landsat_7[landsat_7['reducer'] == 'mean'].copy()

In [9]:
# Create two separate DataFrames
landsat8_mean = landsat_8[landsat_8['reducer'] == 'mean'].copy()

In [10]:
# Create two separate DataFrames
merged_mean = merged_data[merged_data['reducer'] == 'mean'].copy()

In [11]:
# Convert 'date' columns to datetime (if exists)
for df in [landsat7_mean, landsat8_mean, merged_mean, merged_salinity]:
    df['date'] = pd.to_datetime(df['date'])

In [12]:
# Split function
def split_by_year(df, year=2018):
    train = df[df['date'].dt.year < year].copy()
    test = df[df['date'].dt.year == year].copy()
    return train, test

In [13]:
# Apply to each dataset
landsat7_train, landsat7_test = split_by_year(landsat7_mean)
landsat8_train, landsat8_test = split_by_year(landsat8_mean)
merged_train, merged_test = split_by_year(merged_mean)
salinity_train, salinity_test = split_by_year(merged_salinity)

In [14]:
# Save Landsat 7
landsat7_train.to_csv('landsat7_train.csv', index=False)
landsat7_test.to_csv('landsat7_test.csv', index=False)

# Save Landsat 8
landsat8_train.to_csv('landsat8_train.csv', index=False)
landsat8_test.to_csv('landsat8_test.csv', index=False)

# Save merged reflectance + salinity
merged_train.to_csv('merged_train.csv', index=False)
merged_test.to_csv('merged_test.csv', index=False)

# Save salinity
salinity_train.to_csv('salinity_train.csv', index=False)
salinity_test.to_csv('salinity_test.csv', index=False)