In [1]:
import numpy as np
import pandas as pd

# Import Dataset

In [2]:
#Import dataset
station = pd.read_csv('/kaggle/input/mekong-delta-data/station_with_id.csv')
salinity = pd.read_csv('/kaggle/input/mekong-delta-data/vietnam-mekong-data - salinity.csv')
landsat_5 = pd.read_csv('/kaggle/input/mekong-delta-data/landsat_5.csv')
landsat_7 = pd.read_csv('/kaggle/input/mekong-delta-data/landsat_7.csv')
landsat_8 = pd.read_csv('/kaggle/input/mekong-delta-data/landsat_8.csv')

# Data Preprocessing

In [3]:
station.head()

              Station   Latitude   Longitude  id
0    An_Thuan_Ben_Tre   9.980203  106.601953   1
1     Ben_Luc_Long_An  10.638333  106.475456   2
2    Ben_Trai_Ben_Tre   9.888364  106.526731   3
3       Ca_Mau_Ca_Mau   9.172244  105.148711   4
4  Dai_Ngai_Soc_Trang   9.734864  106.074472   5

## Salinity Preprocessing

In [4]:
salinity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7550 entries, 0 to 7549
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Station  7550 non-null   object
 1   Day      7550 non-null   object
 2   1        6711 non-null   float64
 3   3        6711 non-null   float64
 4   5        6711 non-null   object
 5   7        6711 non-null   float64
 6   9        6711 non-null   object
 7   11       6711 non-null   float64
 8   13       6711 non-null   float64
 9   15       6711 non-null   float64
 10  17       6711 non-null   object
 11  19       6711 non-null   object
 12  21       6711 non-null   float64
 13  23       6711 non-null   float64
dtypes: float64(8), object(6)
memory usage: 825.9+ KB

In [5]:
salinity_df = salinity.dropna()

In [6]:
#Change object type to float64
def change_type(df, column, type1):
    if type1 == 'date':
        df[column] = pd.to_datetime(df[column]).dt.date
    else:
        df[column] = df[column].replace(r'[^\d.]', '', regex=True)  # remove non-numeric characters
        df[column] = pd.to_numeric(df[column], errors='coerce')
    return df[column]

In [7]:
#Change object type for object column into float64
for column in ['5', '9','17', '19']:
    salinity_df[column] = change_type(salinity_df, column, 'float64')
salinity_df['Day'] = change_type(salinity_df, 'Day', 'date')

/tmp/ipykernel_13/2920214301.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].replace(r'[^\d.]', '', regex=True)  # remove non-numeric characters
/tmp/ipykernel_13/2920214301.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_numeric(df[column], errors='coerce')
/tmp/ipykernel_13/2919694780.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salinity_df[column] = change_type(salinity_df, column, 'float64')
/tmp/ipykernel_13/2920214301.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[column] = pd.to_datetime(df[column]).dt.date
/tmp/ipykernel_13/2920214301.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = pd.to_datetime(df[column]).dt.date

In [8]:
salinity_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6711 entries, 0 to 7549
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Station  6711 non-null   object
 1   Day      6711 non-null   object
 2   1        6711 non-null   float64
 3   3        6711 non-null   float64
 4   5        6711 non-null   float64
 5   7        6711 non-null   float64
 6   9        6711 non-null   float64
 7   11       6711 non-null   float64
 8   13       6711 non-null   float64
 9   15       6711 non-null   float64
 10  17       6711 non-null   float64
 11  19       6710 non-null   float64
 12  21       6711 non-null   float64
 13  23       6711 non-null   float64
dtypes: float64(12), object(2)
memory usage: 786.4+ KB

In [9]:
salinity_df

,Station,Day,1,3,5,7,9,11,13,15,17,19,21,23
0,An_Thuan_Ben_Tre,2014-03-01,11.7,15.5,8.2,4.8,3.2,1.1,0.8,1.8,7.8,6.3,4.6,2.2
1,An_Thuan_Ben_Tre,2014-04-01,5.8,10.6,14.2,4.9,2.4,1.2,0.6,2.3,4.7,9.7,7.2,2.9
2,An_Thuan_Ben_Tre,2014-05-01,1.9,5.8,7.2,8.1,3.5,1.7,0.5,2.6,5.7,10.0,6.5,3.8
3,An_Thuan_Ben_Tre,2014-06-01,2.3,3.2,6.1,7.9,4.2,1.9,0.4,1.7,3.3,7.7,5.1,3.8
4,An_Thuan_Ben_Tre,2014-09-01,4.2,2.5,1.9,2.2,3.4,3.9,3.5,3.0,3.7,4.2,9.5,10.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7541,Vam_Kenh_Tien_Giang,2018-06-22,4.0,1.9,0.6,3.1,6.8,8.8,8.2,7.1,3.0,1.4,4.8,6.0
7542,Vam_Kenh_Tien_Giang,2018-06-23,5.4,3.1,1.5,4.1,7.5,6.7,6.0,6.9,2.4,0.4,3.2,6.1
7543,Vam_Kenh_Tien_Giang,2018-06-24,6.6,4.7,2.0,4.1,6.2,8.0,6.5,8.1,6.4,3.1,0.2,4.1
7548,Vam_Kenh_Tien_Giang,2018-06-29,4.1,6.1,8.0,6.6,4.9,3.8,6.5,7.5,5.8,4.4,2.8,0.0
7549,Vam_Kenh_Tien_Giang,2018-06-30,3.2,6.7,7.8,7.0,6.5,3.9,6.4,7.0,6.7,5.0,3.0,0.0

In [10]:
# Calculate row-wise statistics across hours
salinity_df['min'] = salinity_df.min(axis=1, numeric_only=True)
salinity_df['max'] = salinity_df.max(axis=1, numeric_only=True)
salinity_df['mean'] = salinity_df.mean(axis=1, numeric_only=True)
salinity_df['median'] = salinity_df.median(axis=1, numeric_only=True)

/tmp/ipykernel_13/3481065925.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salinity_df['min'] = salinity_df.min(axis=1, numeric_only=True)
/tmp/ipykernel_13/3481065925.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salinity_df['max'] = salinity_df.max(axis=1, numeric_only=True)
/tmp/ipykernel_13/3481065925.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salinity_df['mean'] = salinity_df.mean(axis=1, numeric_only=True)
/tmp/ipykernel_13/3481065925.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salinity_df['median'] = salinity_df.median(axis=1, numeric_only=True)

In [11]:
salinity_df

,Station,Day,1,3,5,7,9,11,13,15,17,19,21,23,min,max,mean,median
0,An_Thuan_Ben_Tre,2014-03-01,11.7,15.5,8.2,4.8,3.2,1.1,0.8,1.8,7.8,6.3,4.6,2.2,0.8,15.5,6.021429,4.800000
1,An_Thuan_Ben_Tre,2014-04-01,5.8,10.6,14.2,4.9,2.4,1.2,0.6,2.3,4.7,9.7,7.2,2.9,0.6,14.2,5.807143,4.900000
2,An_Thuan_Ben_Tre,2014-05-01,1.9,5.8,7.2,8.1,3.5,1.7,0.5,2.6,5.7,10.0,6.5,3.8,0.5,10.0,4.842857,4.842857
3,An_Thuan_Ben_Tre,2014-06-01,2.3,3.2,6.1,7.9,4.2,1.9,0.4,1.7,3.3,7.7,5.1,3.8,0.4,7.9,3.992857,3.800000
4,An_Thuan_Ben_Tre,2014-09-01,4.2,2.5,1.9,2.2,3.4,3.9,3.5,3.0,3.7,4.2,9.5,10.6,1.9,10.6,4.650000,3.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7541,Vam_Kenh_Tien_Giang,2018-06-22,4.0,1.9,0.6,3.1,6.8,8.8,8.2,7.1,3.0,1.4,4.8,6.0,0.6,8.8,4.650000,4.650000
7542,Vam_Kenh_Tien_Giang,2018-06-23,5.4,3.1,1.5,4.1,7.5,6.7,6.0,6.9,2.4,0.4,3.2,6.1,0.4,7.5,4.371429,4.371429
7543,Vam_Kenh_Tien_Giang,2018-06-24,6.6,4.7,2.0,4.1,6.2,8.0,6.5,8.1,6.4,3.1,0.2,4.1,0.2,8.1,4.878571,4.878571
7548,Vam_Kenh_Tien_Giang,2018-06-29,4.1,6.1,8.0,6.6,4.9,3.8,6.5,7.5,5.8,4.4,2.8,0.0,0.0,8.0,4.892857,4.900000
7549,Vam_Kenh_Tien_Giang,2018-06-30,3.2,6.7,7.8,7.0,6.5,3.9,6.4,7.0,6.7,5.0,3.0,0.0,0.0,7.8,5.071429,6.400000

In [12]:
salinity_df = salinity_df.rename(columns={'Day': 'date'})

## Landsat Preprocessing

In [13]:
#Note the source of the landsat dataframe
landsat_5['source'] = 'landsat_5'
landsat_7['source'] = 'landsat_7'
landsat_8['source'] = 'landsat_8'

In [14]:
irrelevant_columns = [
    'QA_PIXEL', 'QA_RADSAT', 'SR_CLOUD_QA', 'SR_ATMOS_OPACITY',
    'ST_ATRAN', 'ST_CDIST', 'ST_DRAD', 'ST_EMIS', 'ST_EMSD',
    'ST_QA', 'ST_TRAD', 'ST_URAD', 'SR_QA_AEROSOL'
]

In [15]:
landsat_5 = landsat_5.drop(columns=irrelevant_columns, errors='ignore')

In [16]:
landsat_7 = landsat_7.drop(columns=irrelevant_columns, errors='ignore')

In [17]:
landsat_8 = landsat_8.drop(columns=irrelevant_columns, errors='ignore')

In [18]:
landsat_5['date'] = change_type(landsat_5, 'date', 'date')
landsat_7['date'] = change_type(landsat_7, 'date', 'date')
landsat_8['date'] = change_type(landsat_8, 'date', 'date')

In [19]:
landsat_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AWEInsh  686 non-null    float64
 1   AWEIsh   686 non-null    float64
 2   MNDWI    686 non-null    float64
 3   NDWI     686 non-null    float64
 4   SR_B1    686 non-null    float64
 5   SR_B2    686 non-null    float64
 6   SR_B3    686 non-null    float64
 7   SR_B4    686 non-null    float64
 8   SR_B5    686 non-null    float64
 9   SR_B7    686 non-null    float64
 10  ST_B6    686 non-null    float64
 11  WI1      686 non-null    float64
 12  WI2      686 non-null    float64
 13  date     686 non-null    object
 14  pivot    686 non-null    int64
 15  reducer  686 non-null    object
 16  source   686 non-null    object
dtypes: float64(13), int64(1), object(3)
memory usage: 91.2+ KB

In [20]:
landsat_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AWEInsh  1144 non-null   float64
 1   AWEIsh   1144 non-null   float64
 2   MNDWI    1144 non-null   float64
 3   NDWI     1144 non-null   float64
 4   SR_B1    1144 non-null   float64
 5   SR_B2    1144 non-null   float64
 6   SR_B3    1144 non-null   float64
 7   SR_B4    1144 non-null   float64
 8   SR_B5    1144 non-null   float64
 9   SR_B6    1144 non-null   float64
 10  SR_B7    1144 non-null   float64
 11  ST_B10   1144 non-null   float64
 12  WI1      1144 non-null   float64
 13  WI2      1144 non-null   float64
 14  date     1144 non-null   object
 15  pivot    1144 non-null   int64
 16  reducer  1144 non-null   object
 17  source   1144 non-null   object
dtypes: float64(14), int64(1), object(3)
memory usage: 161.0+ KB

In [21]:
# Merge all three DataFrames
merged_df = pd.concat([landsat_5, landsat_7, landsat_8], ignore_index=True)

In [22]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AWEInsh  1986 non-null   float64
 1   AWEIsh   1986 non-null   float64
 2   MNDWI    1986 non-null   float64
 3   NDWI     1986 non-null   float64
 4   SR_B1    1986 non-null   float64
 5   SR_B2    1986 non-null   float64
 6   SR_B3    1986 non-null   float64
 7   SR_B4    1986 non-null   float64
 8   SR_B5    1986 non-null   float64
 9   SR_B7    1986 non-null   float64
 10  ST_B6    842 non-null    float64
 11  WI1      1986 non-null   float64
 12  WI2      1986 non-null   float64
 13  date     1986 non-null   object
 14  pivot    1986 non-null   int64
 15  reducer  1986 non-null   object
 16  source   1986 non-null   object
 17  SR_B6    1144 non-null   float64
 18  ST_B10   1144 non-null   float64
dtypes: float64(15), int64(1), object(3)
memory usage: 294.9+ KB

## Station Preprocessing

In [23]:
station.head()

              Station   Latitude   Longitude  id
0    An_Thuan_Ben_Tre   9.980203  106.601953   1
1     Ben_Luc_Long_An  10.638333  106.475456   2
2    Ben_Trai_Ben_Tre   9.888364  106.526731   3
3       Ca_Mau_Ca_Mau   9.172244  105.148711   4
4  Dai_Ngai_Soc_Trang   9.734864  106.074472   5

In [24]:
station.rename(columns={'id': 'pivot'}, inplace=True)

# Merge Datasets

In [25]:
salinity_cols = ['1', '3', '5', '7', '9', '11', '13', '15', '17', '19', '21', '23', 'min', 'max', 'mean', 'median']

## Landsat 5

In [26]:
landsat5_station = pd.merge(landsat_5, station, on='pivot')

In [27]:
landsat5_station

,AWEInsh,AWEIsh,MNDWI,NDWI,SR_B1,SR_B2,SR_B3,SR_B4,SR_B5,SR_B7,ST_B6,WI1,WI2,date,pivot,reducer,source,Station,Latitude,Longitude
0,-0.088122,0.111531,0.447957,-0.411879,0.057070,0.084267,0.082315,0.202297,0.032128,0.016893,302.769884,-2.427900,2.232355,2009-02-17,12,mean,landsat_5,Vam_Kenh_Tien_Giang,10.274361,106.737150
1,-0.033514,0.037522,0.264682,-0.279482,0.057702,0.082452,0.077338,0.146417,0.047940,0.023245,303.761110,-3.578050,3.778124,2009-06-25,12,mean,landsat_5,Vam_Kenh_Tien_Giang,10.274361,106.737150
2,0.159997,0.230269,0.579147,0.084272,0.072002,0.114462,0.136628,0.096670,0.030505,0.029597,314.579143,11.866376,1.726677,2009-09-13,1,mean,landsat_5,An_Thuan_Ben_Tre,9.980203,106.601953
3,-0.280780,-0.161269,-0.005096,-0.536135,0.048242,0.080527,0.081407,0.266675,0.081352,0.033200,310.535625,-1.865201,-196.218182,2009-09-13,12,mean,landsat_5,Vam_Kenh_Tien_Giang,10.274361,106.737150
4,-0.168876,0.020857,0.248268,-0.442067,0.061030,0.097962,0.101840,0.253200,0.058995,0.026077,299.023734,-2.262098,4.027908,2009-10-15,12,mean,landsat_5,Vam_Kenh_Tien_Giang,10.274361,106.737150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,-0.015783,-0.375982,-0.060343,0.012736,0.078630,0.102775,0.104040,0.100190,0.115975,0.108412,307.329522,78.516441,-16.571970,2009-12-09,4,median,landsat_5,Ca_Mau_Ca_Mau,9.172244,105.148711
152,-0.006000,-0.284483,-0.026095,-0.003267,0.072717,0.096477,0.096092,0.097110,0.101648,0.087100,311.161123,-306.067194,-38.322050,2010-01-26,4,median,landsat_5,Ca_Mau_Ca_Mau,9.172244,105.148711
153,0.064510,-0.141971,0.150130,-0.002946,0.102087,0.130302,0.134813,0.131072,0.096285,0.089190,313.847687,-339.448052,6.660910,2011-10-28,4,median,landsat_5,Ca_Mau_Ca_Mau,9.172244,105.148711
154,-0.071766,-0.535269,-0.157586,-0.018158,0.082205,0.110035,0.116800,0.114105,0.151202,0.124390,317.525476,-55.071253,-6.345722,2009-04-20,9,median,landsat_5,Rach_Gia_Kien_Giang,10.012292,105.084019
155,-0.041949,-0.393699,-0.066760,-0.047023,0.076595,0.105332,0.116635,0.115727,0.120402,0.110723,317.170002,-21.265993,-14.979098,2009-03-03,4,median,landsat_5,Ca_Mau_Ca_Mau,9.172244,105.148711

In [28]:
landsat5_station['date'] = pd.to_datetime(landsat5_station['date']).dt.date
salinity_df['date'] = pd.to_datetime(salinity_df['date']).dt.date

In [29]:
landsat5_df = pd.merge(landsat5_station, salinity_df, on=['Station', 'date'], how='left')

In [30]:
landsat5_df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,AWEInsh,AWEIsh,MNDWI,NDWI,SR_B1,SR_B2,SR_B3,SR_B4,SR_B5,SR_B7,...,13,15,17,19,21,23,min,max,mean,median
0,-0.088122,0.111531,0.447957,-0.411879,0.057070,0.084267,0.082315,0.202297,0.032128,0.016893,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.033514,0.037522,0.264682,-0.279482,0.057702,0.082452,0.077338,0.146417,0.047940,0.023245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.159997,0.230269,0.579147,0.084272,0.072002,0.114462,0.136628,0.096670,0.030505,0.029597,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.280780,-0.161269,-0.005096,-0.536135,0.048242,0.080527,0.081407,0.266675,0.081352,0.033200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.168876,0.020857,0.248268,-0.442067,0.061030,0.097962,0.101840,0.253200,0.058995,0.026077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,-0.015783,-0.375982,-0.060343,0.012736,0.078630,0.102775,0.104040,0.100190,0.115975,0.108412,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,-0.006000,-0.284483,-0.026095,-0.003267,0.072717,0.096477,0.096092,0.097110,0.101648,0.087100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,0.064510,-0.141971,0.150130,-0.002946,0.102087,0.130302,0.134813,0.131072,0.096285,0.089190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,-0.071766,-0.535269,-0.157586,-0.018158,0.082205,0.110035,0.116800,0.114105,0.151202,0.124390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,-0.041949,-0.393699,-0.066760,-0.047023,0.076595,0.105332,0.116635,0.115727,0.120402,0.110723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
landsat5_df.dropna(subset=salinity_cols, inplace=True)

In [32]:
landsat5_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 72 to 150
Data columns (total 36 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AWEInsh    2 non-null      float64
 1   AWEIsh     2 non-null      float64
 2   MNDWI      2 non-null      float64
 3   NDWI       2 non-null      float64
 4   SR_B1      2 non-null      float64
 5   SR_B2      2 non-null      float64
 6   SR_B3      2 non-null      float64
 7   SR_B4      2 non-null      float64
 8   SR_B5      2 non-null      float64
 9   SR_B7      2 non-null      float64
 10  ST_B6      2 non-null      float64
 11  WI1        2 non-null      float64
 12  WI2        2 non-null      float64
 13  date       2 non-null      object
 14  pivot      2 non-null      int64
 15  reducer    2 non-null      object
 16  source     2 non-null      object
 17  Station    2 non-null      object
 18  Latitude   2 non-null      float64
 19  Longitude  2 non-null      float64
 20  1          2 non-null      float64
 21  3          2 non-null      float64
 22  5          2 non-null      float64
 23  7          2 non-null      float64
 24  9          2 non-null      float64
 25  11         2 non-null      float64
 26  13         2 non-null      float64
 27  15         2 non-null      float64
 28  17         2 non-null      float64
 29  19         2 non-null      float64
 30  21         2 non-null      float64
 31  23         2 non-null      float64
 32  min        2 non-null      float64
 33  max        2 non-null      float64
 34  mean       2 non-null      float64
 35  median     2 non-null      float64
dtypes: float64(31), int64(1), object(4)
memory usage: 592.0+ bytes

## Landsat 7

In [33]:
landsat7_station = pd.merge(landsat_7, station, on='pivot')

In [34]:
landsat7_station['date'] = pd.to_datetime(landsat7_station['date']).dt.date
salinity_df['date'] = pd.to_datetime(salinity_df['date']).dt.date

In [35]:
landsat7_df = pd.merge(landsat7_station, salinity_df, on=['Station', 'date'], how='left')

In [36]:
landsat7_df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,AWEInsh,AWEIsh,MNDWI,NDWI,SR_B1,SR_B2,SR_B3,SR_B4,SR_B5,SR_B7,...,13,15,17,19,21,23,min,max,mean,median
0,-0.066974,0.063826,0.279551,-0.331170,0.071508,0.099942,0.106625,0.198915,0.056273,0.022227,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.009998,-0.190907,0.030183,-0.055095,0.082617,0.094800,0.118312,0.105855,0.089245,0.067877,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.148395,-0.102116,0.023347,-0.464239,0.048022,0.062680,0.064852,0.171305,0.059820,0.025720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.105127,0.204832,0.688309,-0.100552,0.075192,0.095075,0.122273,0.116333,0.017552,0.027700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.321088,-0.296445,-0.242789,-0.624710,0.043072,0.055063,0.051982,0.238377,0.090372,0.034767,...,7.7,7.9,8.0,6.8,5.4,4.3,2.8,8.2,6.242857,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,-0.054840,-0.482098,-0.071724,-0.104272,0.122740,0.134180,0.140890,0.165420,0.154915,0.130110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
682,-0.025298,-0.282750,-0.160215,-0.013827,0.057372,0.059820,0.056905,0.061497,0.082645,0.064028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683,-0.161272,-1.018423,-0.156230,-0.113730,0.205707,0.214837,0.225288,0.269975,0.294395,0.230073,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684,0.003054,-0.395473,-0.007088,-0.049184,0.129890,0.140615,0.148700,0.155162,0.142622,0.126782,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,-0.100098,-1.045786,-0.071800,-0.102368,0.292910,0.300940,0.314223,0.369580,0.347497,0.278967,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
landsat7_df.dropna(subset=salinity_cols, inplace=True)

In [38]:
landsat7_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, 4 to 676
Data columns (total 36 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AWEInsh    134 non-null    float64
 1   AWEIsh     134 non-null    float64
 2   MNDWI      134 non-null    float64
 3   NDWI       134 non-null    float64
 4   SR_B1      134 non-null    float64
 5   SR_B2      134 non-null    float64
 6   SR_B3      134 non-null    float64
 7   SR_B4      134 non-null    float64
 8   SR_B5      134 non-null    float64
 9   SR_B7      134 non-null    float64
 10  ST_B6      134 non-null    float64
 11  WI1        134 non-null    float64
 12  WI2        134 non-null    float64
 13  date       134 non-null    object
 14  pivot      134 non-null    int64
 15  reducer    134 non-null    object
 16  source     134 non-null    object
 17  Station    134 non-null    object
 18  Latitude   134 non-null    float64
 19  Longitude  134 non-null    float64
 20  1          134 non-null    float64
 21  3          134 non-null    float64
 22  5          134 non-null    float64
 23  7          134 non-null    float64
 24  9          134 non-null    float64
 25  11         134 non-null    float64
 26  13         134 non-null    float64
 27  15         134 non-null    float64
 28  17         134 non-null    float64
 29  19         134 non-null    float64
 30  21         134 non-null    float64
 31  23         134 non-null    float64
 32  min        134 non-null    float64
 33  max        134 non-null    float64
 34  mean       134 non-null    float64
 35  median     134 non-null    float64
dtypes: float64(31), int64(1), object(4)
memory usage: 38.7+ KB

## Landsat 8

In [39]:
landsat8_station = pd.merge(landsat_8, station, on='pivot')

In [40]:
landsat8_station['date'] = pd.to_datetime(landsat8_station['date']).dt.date
salinity_df['date'] = pd.to_datetime(salinity_df['date']).dt.date

In [41]:
landsat8_df = pd.merge(landsat8_station, salinity_df, on=['Station', 'date'], how='left')

In [42]:
landsat8_df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,AWEInsh,AWEIsh,MNDWI,NDWI,SR_B1,SR_B2,SR_B3,SR_B4,SR_B5,SR_B6,...,13,15,17,19,21,23,min,max,mean,median
0,0.017887,-0.234051,-0.067352,-0.525301,0.019918,0.034630,0.064165,0.052147,0.206175,0.073432,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.018437,-0.367955,-0.049796,-0.552540,0.031082,0.042660,0.091307,0.084680,0.316807,0.100877,...,4.7,6.7,5.4,3.9,1.8,1.2,1.2,6.8,4.271429,4.600000
2,0.024205,-0.368120,-0.117039,-0.470369,0.044310,0.058720,0.114105,0.116333,0.316780,0.144355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.024466,-0.256401,0.017666,-0.568793,0.021595,0.029405,0.063367,0.051350,0.230540,0.061167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.020214,-0.273568,-0.180213,-0.492155,0.033667,0.042825,0.074120,0.072745,0.217780,0.106707,...,5.4,12.5,16.8,16.0,7.2,7.4,5.0,17.6,11.335714,11.335714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145,0.228310,-0.037274,0.074182,-0.150507,0.048407,0.069060,0.106322,0.106487,0.143998,0.091637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1146,0.107090,-0.074647,-0.111274,-0.140268,0.037957,0.051955,0.078630,0.079812,0.104287,0.098320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147,0.134734,-0.084444,-0.088407,-0.133493,0.049177,0.068647,0.104067,0.106102,0.136132,0.124252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1148,0.166366,-0.102291,-0.099175,-0.100925,0.047060,0.066970,0.120897,0.127195,0.148040,0.147517,...,4.8,3.3,1.9,0.8,1.0,1.2,0.8,7.2,4.214286,4.800000
1149,0.051781,-0.019702,0.047554,-0.040583,-0.014980,-0.002138,0.026655,0.020358,0.028910,0.024235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
landsat8_df.dropna(subset=salinity_cols, inplace=True)

In [44]:
landsat8_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 380 entries, 1 to 1148
Data columns (total 37 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AWEInsh    380 non-null    float64
 1   AWEIsh     380 non-null    float64
 2   MNDWI      380 non-null    float64
 3   NDWI       380 non-null    float64
 4   SR_B1      380 non-null    float64
 5   SR_B2      380 non-null    float64
 6   SR_B3      380 non-null    float64
 7   SR_B4      380 non-null    float64
 8   SR_B5      380 non-null    float64
 9   SR_B6      380 non-null    float64
 10  SR_B7      380 non-null    float64
 11  ST_B10     380 non-null    float64
 12  WI1        380 non-null    float64
 13  WI2        380 non-null    float64
 14  date       380 non-null    object
 15  pivot      380 non-null    int64
 16  reducer    380 non-null    object
 17  source     380 non-null    object
 18  Station    380 non-null    object
 19  Latitude   380 non-null    float64
 20  Longitude  380 non-null    float64
 21  1          380 non-null    float64
 22  3          380 non-null    float64
 23  5          380 non-null    float64
 24  7          380 non-null    float64
 25  9          380 non-null    float64
 26  11         380 non-null    float64
 27  13         380 non-null    float64
 28  15         380 non-null    float64
 29  17         380 non-null    float64
 30  19         380 non-null    float64
 31  21         380 non-null    float64
 32  23         380 non-null    float64
 33  min        380 non-null    float64
 34  max        380 non-null    float64
 35  mean       380 non-null    float64
 36  median     380 non-null    float64
dtypes: float64(32), int64(1), object(4)
memory usage: 112.8+ KB

## Merge dataset

In [45]:
merged_station = pd.merge(merged_df, station, on='pivot')

In [46]:
merged_station['date'] = pd.to_datetime(merged_station['date']).dt.date
salinity_df['date'] = pd.to_datetime(salinity_df['date']).dt.date

In [47]:
merged_data = pd.merge(merged_station, salinity_df, on=['Station', 'date'], how='left')

In [48]:
merged_data

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,AWEInsh,AWEIsh,MNDWI,NDWI,SR_B1,SR_B2,SR_B3,SR_B4,SR_B5,SR_B7,...,13,15,17,19,21,23,min,max,mean,median
0,-0.088122,0.111531,0.447957,-0.411879,0.057070,0.084267,0.082315,0.202297,0.032128,0.016893,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.033514,0.037522,0.264682,-0.279482,0.057702,0.082452,0.077338,0.146417,0.047940,0.023245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.159997,0.230269,0.579147,0.084272,0.072002,0.114462,0.136628,0.096670,0.030505,0.029597,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.280780,-0.161269,-0.005096,-0.536135,0.048242,0.080527,0.081407,0.266675,0.081352,0.033200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.168876,0.020857,0.248268,-0.442067,0.061030,0.097962,0.101840,0.253200,0.058995,0.026077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,0.228310,-0.037274,0.074182,-0.150507,0.048407,0.069060,0.106322,0.106487,0.143998,0.074752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,0.107090,-0.074647,-0.111274,-0.140268,0.037957,0.051955,0.078630,0.079812,0.104287,0.077062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,0.134734,-0.084444,-0.088407,-0.133493,0.049177,0.068647,0.104067,0.106102,0.136132,0.090730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,0.166366,-0.102291,-0.099175,-0.100925,0.047060,0.066970,0.120897,0.127195,0.148040,0.112675,...,4.8,3.3,1.9,0.8,1.0,1.2,0.8,7.2,4.214286,4.8
1991,0.051781,-0.019702,0.047554,-0.040583,-0.014980,-0.002138,0.026655,0.020358,0.028910,0.017937,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:

merged_data.dropna(subset=salinity_cols, inplace=True)

In [50]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 516 entries, 72 to 1990
Data columns (total 38 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AWEInsh    516 non-null    float64
 1   AWEIsh     516 non-null    float64
 2   MNDWI      516 non-null    float64
 3   NDWI       516 non-null    float64
 4   SR_B1      516 non-null    float64
 5   SR_B2      516 non-null    float64
 6   SR_B3      516 non-null    float64
 7   SR_B4      516 non-null    float64
 8   SR_B5      516 non-null    float64
 9   SR_B7      516 non-null    float64
 10  ST_B6      136 non-null    float64
 11  WI1        516 non-null    float64
 12  WI2        516 non-null    float64
 13  date       516 non-null    object
 14  pivot      516 non-null    int64
 15  reducer    516 non-null    object
 16  source     516 non-null    object
 17  SR_B6      380 non-null    float64
 18  ST_B10     380 non-null    float64
 19  Station    516 non-null    object
 20  Latitude   516 non-null    float64
 21  Longitude  516 non-null    float64
 22  1          516 non-null    float64
 23  3          516 non-null    float64
 24  5          516 non-null    float64
 25  7          516 non-null    float64
 26  9          516 non-null    float64
 27  11         516 non-null    float64
 28  13         516 non-null    float64
 29  15         516 non-null    float64
 30  17         516 non-null    float64
 31  19         516 non-null    float64
 32  21         516 non-null    float64
 33  23         516 non-null    float64
 34  min        516 non-null    float64
 35  max        516 non-null    float64
 36  mean       516 non-null    float64
 37  median     516 non-null    float64
dtypes: float64(33), int64(1), object(4)
memory usage: 157.2+ KB

# Save preprocessed data

In [51]:
landsat5_df.to_csv('landsat5_df.csv', index=False)
landsat7_df.to_csv('landsat7_df.csv', index=False)
landsat8_df.to_csv('landsat8_df.csv', index=False)
merged_data.to_csv('merged_data.csv', index=False)